.comments-mainTitle {
  width: 100%;
  text-align: left;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;
  color: #323232;
  padding-bottom: 29px;
  border-bottom: 4px solid #F00;
  margin-bottom: 15px;
}

.comments {
  margin-top: 0px;
  margin-bottom: 0px;
}

.comment-block:first-of-type {
  border-top: 1px solid var(--Txt-collor, #323232);
  border-bottom: 1px solid var(--Txt-collor, #323232);
  border-style: dotted;
  border-left: none;
  border-right: none;
}

.comment-block {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.comment-img {
  display: block;
  width: 75px;
  height: 75px;
}

.comment-mainPart {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: calc(100% - 57px);
}

.comment-mainPart p span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #cccccc;
}

.comment-mainPart .comment-text {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.comment-name {
  color:  #323232;
  font-family: 'Oswald';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1px;
  margin-bottom: 4px;
}

.comment-like {
  height: 21px;
  display: flex;
  align-items: center;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-top: 10px;
}

.comment-like span {
  margin: 0 4px;
  opacity: 0.2;
  color: #000;
}

.selected-rew {
  font: inherit !important;
  background: inherit;
  color: #2E45B8 !important;
  text-decoration: none;
  cursor: pointer;
}

.reporter .selected-rew {
  color: #323232 !important;
  cursor: initial;
}

.blue-text {
  color: var(--blue-color);
}

.reporter_mob {
  display: none;
}

.mobMinute {
  display: none;
}

@media all and (max-width: 767px) {
  .comments {
    margin-top: 0px;
  }

  /* .comments-mainTitle {
    font-size: 16px;
    line-height: 150%;
  } */

  /* .comment-mainPart p {
    font-size: 12px !important;
    line-height: 16px !important;
  } */

  /* .comment-mainPart .comment-text {
    font-size: 13px;
  } */

  .reporter {
    font-size: 12px !important;
    line-height: 16px !important;
    /* display: none; */
  }

  .mobMinute {
    display: block;
  }
}