:root {
  --white-color: #fff;
  --grey: #cccccc;
  --black-color: #000;
  --border-color: #d8d8d8;
  --second-black: #323232;
  --main-border-bottom: #c4c4c4;
  --blue-color: #2E45B8;
  --red-color: #E81019;
  --green-color: #01c65a;
  --footer-bg: #fbfbfb;
}


*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #323232;
  background-color: #F1F1F1;
}

body,
html {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', serif;
  overflow-x: hidden;
}

a img {
  display: block;
  width: 100%;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  padding: 0 96px;
  margin: 0 auto;
}

.brandName {
  text-decoration: none;
  color: #2e45b8;
  font-weight: 700;
}

.currCountry,
.currCountryBrackets,
.currYear {
  color: inherit;
}

.currentDate {
  white-space: nowrap;
}

.underImgText .brandName {
  font-weight: normal;
}

header.header {
  width: 100%;
  display: block;
  height: auto;
  /* background: linear-gradient(rgb(255, 255, 255) 57%, rgb(0, 0, 0) 58%, rgb(0, 0, 0) 58%, rgb(247, 247, 247) 58%, rgb(247, 247, 247) 96%, rgb(0, 0, 0) 97%, rgb(0, 0, 0) 97%, rgb(60, 86, 109) 97%); */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); */
}


.header__tablet {
  display: none;
}

header.header .container {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 0;
}

.header__desktop {
  display: none;
  width: unset;
  margin: 0 auto;
}

.header__mob {
  width: 100%;
}

.hero {}

.lineWrp {
  margin: 0 0 20px;
  display: flex;
  align-items: center;
}

.lineWrp p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #e3120b;
  display: flex;
  align-items: center;
}

.lineWrp p img {
  margin-right: 5px;
}

.lineWrp span {
  color: inherit;
}

.main_heroTitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  margin-bottom: 25px;
  margin-top: 5px;
}

.main_heroSubTitle {
  font-family: 'Droid Sans';
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 10px;
  border-bottom: 1px solid #F1F1F1;
  margin-bottom: 10px;
}

.hero_subtitle {
  color: #000000 !important;
}

.hero_title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  max-width: 900px;
  margin: -215px auto 65px 35px;
  min-height: 176px;
}

.hero_img {
  width: 100%;
}

.hero_autorWrp {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}

.hero_autor {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.hero_autorImg {
  width: 60px;
  margin-right: 20px;
}

.heroAutorText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #28282d;
  margin-bottom: 10px;
}

.heroAutorSubText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #818990;
}

.heshLine {
  display: flex;
}

.heshLine a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding: 7px 10px;
  border: 1px solid #e0e9ec;
  border-radius: 32px;
  text-decoration: none;
  color: #28282d;
  margin-right: 10px;
}

.hero_social {
  display: flex;
}

.hero_socialIcon1 {}

.hero_socialIcon1:hover path {
  fill: #5074a4;
  transition: all 0.3s ease-in-out;
}

.hero_socialIcon2 {
  margin-left: 20px;
}

.hero_socialIcon2:hover path {
  fill: #38a6db;
  transition: all 0.3s ease-in-out;
}

.hero_socialIcon3Wrp {
  border-radius: 50%;
}

.hero_socialIcon3 {
  margin-left: 20px;
  border-radius: 50%;
}

.hero_socialIcon3:hover .hero_socialIcon3bg {
  fill: #ee8108;
  transition: all 0.3s ease-in-out;
}

.hero_socialIcon4 {
  margin-left: 20px;
}

.hero_socialIcon4:hover rect {
  fill: #5074a4;
  transition: all 0.3s ease-in-out;
}

.public {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  color: #CCCCCC;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.public span {
  font-family: inherit;
  color: inherit;
}

.share-img {
  max-width: 584px;
  width: 100%;
  margin-bottom: 24px;
}

.publicP {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 24px;
}

.autor_share {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.timeDiv {
  display: flex;
  gap: 5px;
  align-items: center;
}

.timeDiv p {
  color: #F00;
font-family: 'Droid Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 140% */
}

.autor {
  display: flex;
}

.autor img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.autor p {
  font-family: 'Droid Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 140% */
}

.main {
  margin-top: 0px;
  margin-bottom: 60px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: #fff;
}

.main * {
  background-color: #fff;
}

.aside-block {
  max-width: 300px;
  margin-left: 30px;
  width: 100%;
}

.news-block {
  display: flex;
  flex-direction: column;
}

.news-wrp {
  display: flex;
  flex-direction: column;
  background-color: #f3f6f7;
}

.news-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 10px;
}

.news-text {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222526;
  opacity: 0.5;
  padding: 0 10px 10px;
}

.more-block {
  margin-top: 30px;
}

.more-heroTitle {
  margin-bottom: 15px;
  text-align: left;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  text-transform: uppercase;
}

.main-heroTitle.colored {
  color: #e81019;
  margin-bottom: 15px;
}

.more-item {
  display: flex;
  margin-bottom: 15px;
}

.more-item a img {
  width: unset;
}

.more-inner {
  padding: 0 0 0 10px;
}

.more-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ec2613;
  padding-bottom: 5px;
}

.more-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.more-hr {
  height: 1px;
  margin: 10px 0;
  background: #c4c4c4;
}

.main-article {
  max-width: 768px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main_public {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.main_publicDate {
  font-family: 'Open Sans' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #595959 !important;
}

.main_publicShare {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  padding: 3px 16px;
}

.heroSection-breaking {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  padding: 5px;
  background: #3a79bb;
  width: fit-content;
  margin-top: 15px;
  text-transform: uppercase;
}

.heroSection-path {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-top: 10px;
}

.heroSection-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-top: 10px;
}

.heroSection-title--colored {
  color: #5392d0;
}

.heroSection-subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-top: 10px;
}

.heroSection-author {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  margin-top: 20px;
}

.heroSection-date {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #222526;
  margin-top: 10px;
}

.heroSection-date span {
  opacity: 0.5;
}

.heroSection-logosWrp {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 20px 0;
  margin: 30px 0;
}

.heroSection-logos {
  width: 112px;
}

.main-heroTitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  margin: 15px 0 15px;
}

.main-acentText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
}

.main-imgWrp {
  display: flex;
  flex-direction: column;
}

.main-img {
  margin: 0 0 20px;
}

.main-img2 {
  margin: 6px 0 35px;
}

.shadow {
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
}

.main_imgTitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
  color: #323232;
  margin: 15px 0 30px;
}

.main_imgTitle+a {
  margin-bottom: 30px;
}

.main-underImgText {
  color: #AAA;
  text-align: center;
  font-family: 'Droid Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding: 10px 0;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
  margin-bottom: 40px;
}

.main-commonText {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #323232;
  margin-bottom: 24px;
}

.bordered {
  padding-left: 17px;
  border-left: 2px solid #2e45b8;
}

.quotesDiv {
  display: flex;
  gap: 15px;
  border-left: 5px solid #EEE;
  margin: 6px 20px 30px 20px;
}

.quotesDiv img {
  width: 26px;
  height: 30px;
}

.quotesDiv p:first-of-type{
  font-family: 'Droid Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin: 10px 0;
}

.quotesDiv p:last-of-type{
  font-family: 'Droid Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.main_storyWrp {
  margin-bottom: 15px;
  padding: 19px 19px 19px 14px;
  background: rgba(46, 69, 184, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.main_storyWrp .main-commonText {
  font-style: italic;
  margin-bottom: 10px;
}

.main_storyWrp .main-commonText:last-of-type {
  margin-bottom: 0;
}

.main_reviewWrp {
  display: flex;
  align-items: flex-start;
}

.main_reviewImg {
  margin-right: 15px;
}

.main-textTitle {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin: 6px 0 25px;
  text-align: center;
}

.side_photoWrp {
  margin: 20px 0 15px;
  display: flex;
  justify-content: space-between;
}

.side_half1 {
  max-width: 312px;
  width: 100%;
}

.side_img {
  width: 100%;
}

.side_underImageText {
  margin-top: 10px;
  text-align: center;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.side_half2 {
  max-width: 398px;
  margin-left: 30px;
}

.quote_textWrp {
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
}

.quote_img {
  margin-right: 10px;
}

.quote_text {
  font-family: 'Open Sans';
  font-weight: 700;
  color: #000000;
  margin-bottom: 0 !important;
}

.undertextImgWrp {
  margin: 0 0 20px;
  padding-bottom: 11px;
  border-bottom: 1px solid #f1f1f1;
}

.underImgText {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height:140%;
  margin-top: 5px;
  color: #AAA;
  text-align: right;
}

.yellowDiv {
  padding: 5px 0px;
  background-color: #FFFF7F;
  margin-bottom: 10px;
}

.yellowDiv p {
  text-align: center;
  font-family: 'Droid Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height:  140%;
  background-color: #FFFF7F;
}

.main-acentWrp {
  margin: 15px 0;
}

.main-bgText {
  padding: 15px 20px;
  background: #f3f6f7;
  margin-bottom: 15px;
}

.main-editorWrp {
  background: rgba(58, 121, 187, 0.05);
  border: 2px solid #3a79bb;
  border-radius: 10px;
  padding: 18px;
  margin: 20px 0 10px;
}

.main-editorWrp .main-commonText {
  margin: 0;
}

.editor-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #3a79bb;
  margin-bottom: 10px;
}

.editor-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
}

.main-infoBlock--wrp {
  background: #f3f6f7;
  padding: 10px;
  margin-bottom: 15px;
}

.infoBlock-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.infoBlock-inner {
  display: flex;
  justify-content: space-between;
}

.infoBlock-item {
  border: 1px solid #5392d0;
  max-width: 290px;
  width: 48%;
}

.infoBlock-text {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 10px;
}

.main-reviewCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.review-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background: #5392d0;
  padding: 10px 15px;
}

.review-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  background: #f3f6f7;
  padding: 15px;
}

.main-bankLetter {
  margin-bottom: 30px;
}

.play_hover {
  display: none;
}

.stop_hover {
  display: none;
}

.black {
  width: 1px;
  height: 15px;
  background: #000000;
  margin-right: 10px;
  margin-left: 10px;
}

.playCont {
  display: flex;
  align-items: center;
  padding: 16px 10px 16px 16px;
  background: rgba(227, 18, 11, 0.02);
  border: 2px solid #E3120B;
  margin-bottom: 5px;
  max-width: 486px;
  width: 100%;
}

.playContAside {
  max-width: 300px;
}

.playContMain {
  z-index: 99;
  background-color: #fff;
  margin-bottom: 15px;
  width: 100%;
}

.scroll1 {
  position: fixed;
  top: 0;
}

.scroll2 {
  position: fixed;
  top: 0;
}

.playCont p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #E3120B;
}

.btn {
  z-index: 1;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 75%;
}

.btn img {
  border-radius: 50%;
}

.btn .play:hover {}

.btn .play .stp:hover {}

.img__src {
  background-image: url(../images/play.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
}



.img__src.pau:hover {
  background-image: url(../images/stop_hover.svg) !important;
}

.img__src:hover {
  background-image: url(../images/play_hover.svg) !important;
}

.main-btn {
  display: block;
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  color: #ffffff;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  background: #E92C2C;
  border-radius: 5px;
  max-width: 466px;
  width: 100%;
  margin: 40px auto 50px;
  transition: all 0.3s;
  box-shadow: 0px 5px 0px 0px #BC1F1F;
}

.main-btn .brandName {
  color: #fff;
}

.alert {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #E81019;
  padding: 20px;
  background: rgba(232, 16, 25, 0.02);
  border: 2px solid #E81019;
}

.main-alert {
  border-radius: 15px;
  border: 1px dashed #5F7BAA;
  background: #DEEBF7;
  padding: 20px 37px;
  margin-bottom: 50px;
}

.main-alert * {
  background: #DEEBF7;
}

.main-alert p {
  text-align: center;
  background: #DEEBF7;
}

.main-alert2 {
  background: rgba(227, 18, 11, 0.02);
  border: 2px solid #E3120B;
  padding: 14px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.alert-title2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #E3120B;
  margin-bottom: 10px;
}

.main-alert .main-commonText {
  margin-top: 10px;
  margin-bottom: 0;
}

.main-alertRed {
  padding: 18px;
  background: rgba(232, 16, 25, 0.02);
  border: 2px solid #e81019;
  border-radius: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #e81019;
  margin-bottom: 30px;
}

.alert-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #222526;
}

.stepSection-subTitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 60px auto 30px;
}

.main-topicWrp {
  margin: 30px 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  display: flex;
  align-items: center;
}

.main-topicWrp span {
  color: #222526;
  padding: 10px;
  border: 1px solid #979797;
  margin: 0 5px;
}

.main-topicWrp p {
  margin-right: 5px;
}

.highlightWrp {
  margin-top: 30px;
}

.highlight-heroTitile {
  margin-bottom: 20px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
}

.highlight-outer {
  max-width: 740px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 360px 360px;
  grid-column-gap: 10px;
  row-gap: 10px;
}

.highlight-item {
  border: 1px solid #3a79bb;
  background: #f3f6f7;
}

.highlight-inner {
  padding: 10px;
  background: #f3f6f7;
  min-height: 100px;
}

.highlight-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 10px;
}

.highlight-text {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.5;
}

.bold {
  font-weight: bold;
}

.red {
  color: var(--red-color);
}

.oSans {
  font-family: 'Open Sans';
}

.normal {
  font-weight: normal;
}

.ital {
  font-style: italic;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.modal_inner {
  max-width: 740px;
  width: 100%;
  text-align: center;
}

.modal_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  padding: 15px;
  text-align: center;

  color: #ffffff;
  background: #e81019;
  border-radius: 20px 20px 0px 0px;
}

.modal_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  padding: 26px;
  background: #ffffff;
  border: 4px solid #e81019;
  border-top: none !important;
  border-radius: 0px 0px 20px 20px;
}

@media all and (min-width: 461px) {
  .header__mob {
    display: none;
  }

  .header__tablet {
    display: block;
    width: 100%;
  }
}



/* @media (min-width: 1920px) {
  header.header .container {
    display: block !important;
  }
} */

@media (min-width: 1025px) {
  .header__tablet {
    display: none;
  }

  .header__desktop {
    display: block;
  }
}

@media all and (max-width: 1200px) {
  .main {
    flex-direction: row;
    margin-bottom: 0;
  }

  .main.container {
    padding-bottom: 60px;
  }

  .container {
    padding: 0 14px;
  }

  .aside-block {
    display: none;
  }

  .main-article {
    max-width: unset;
  }

  .header_item:nth-of-type(2) {
    display: none;
  }

  .header_item:nth-of-type(3) {
    display: none;
  }

  .header_item:nth-of-type(4) {
    display: block;
  }

  .highlight-inner {
    min-height: 130px;
  }
}

@media (min-width: 1025px) {
  header.header .container {
    display: flex;
    justify-content: center;
  }
}

@media all and (max-width: 1023px) {
  .hero_img {
    height: 352px;
    border-radius: 10px;
    object-fit: cover;
  }

  .hero_title {
    margin: -160px 50px 45px 30px;
    font-size: 28px;
    line-height: 34px;
    min-height: 134px;
  }

  .modal_inner {
    max-width: 640px;
    margin: 0 auto;
  }
}



@media all and (max-width: 767px) {
  header.header {
    margin-bottom: 0px;
  }

  .modal_inner {
    max-width: calc(100% - 34px);
  }

  .autor_share {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  .modal_title {
    border-radius: 5px 5px 0 0;
    font-size: 24px;
    line-height: 33px;
  }

  .modal_text {
    padding: 10px 8px 8px;
    font-size: 16px;
    line-height: 22px;
    border: 2px solid #e81019;
    border-radius: 0 0 5px 5px;
  }

  .hero_img {
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  .alert {
    padding: 10px;
    font-size: 24px;
    line-height: 120%;
  }

  .hero_title {
    max-width: 400px;
    margin: -170px 0px 60px 0px;
    font-size: 20px;
    line-height: 24px;
  }

  .header {
    padding: 0px 0;
  }

  .main_heroTitle {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 23px;
    margin-top: 25px;
  }

  .main_public {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .lineWrp {
    margin: 10px 0 15px;
    width: 100%;
  }

  .lineWrp p {
    margin-right: 0;
  }

  .main {
    padding: 0 10px;
  }

  .main-bankLetter {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .heroSection-title {
    font-size: 32px;
    line-height: 38px;
  }

  .heroSection-logosWrp {
    margin: 15px 0;
  }

  .main-heroTitle {
    margin: 5px 0 10px;
    font-size: 24px;
    line-height: 120%;
  }

  .main_imgTitle {
    font-size: 24px;
    line-height: 120%;
    margin: 5px 0 15px;
  }

  .main_imgTitle+a {
    margin-bottom: 15px;
  }

  .main-textTitle {
    margin: 6px 0 25px;
    font-size: 20px;
    line-height: 28px;
  }

  .main-commonText {
    font-size: 14px;
    line-height: 140%;
  }

  .quotesDiv {
    margin: 6px 0 30px 0;
  }

  .main-commonText.mb-30 {
    margin-bottom: 15px;
  }

  .main_storyWrp {
    padding: 9px;
  }

  .bordered {
    padding-left: 12px;
  }

  .main-img2 {
    margin: 5px 0 20px;
  }

  .main-alert2 {
    margin-bottom: 15px;
  }

  .undertextImgWrp {
    margin: 10px 0 20px;
    padding-bottom: 15px;
    text-align-last: left;
  }

  .underImgText {
    margin-top: 5px;
    font-size: 10px;
    line-height: 14px;
  }

  .side_photoWrp {
    margin: 15px 0 5px;
    flex-direction: column;
  }

  .side_half1 {
    max-width: 100%;
    margin: 0 auto;
  }

  .side_img {
    max-width: 180px;
    margin: 0 auto;
  }

  .side_underImageText {
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    margin-bottom: 15px;
  }

  .side_half2 {
    margin-left: 0;
  }

  .quote_textWrp {
    padding: 10px 0;
  }

  .main-heroTitle.colored {
    margin-top: 10px;
  }

  .main-editorWrp {
    margin: 5px 0 0;
  }

  .editor-title {
    font-size: 16px;
    line-height: 150%;
  }

  .main-btn {
    max-width: 100%;
    padding: 12px 10px;
    font-size: 17px;
    line-height: 24px;
    margin: 40px 0 50px;
  }

  .main-alert {
    margin-bottom: 15px;
    padding: 20px 12px;
  }

  .alert-title {
    font-size: 16px;
    line-height: 150%;
  }

  .infoBlock-inner {
    flex-direction: column;
  }

  .infoBlock-item {
    width: 100%;
    max-width: unset;
  }

  .infoBlock-item:first-of-type {
    margin-bottom: 20px;
  }

  .stepSection-subTitle {
    margin: 45px 0 30px;
    font-size: 24px;
    line-height: 120%;
  }

  .highlight-heroTitile {
    font-size: 24px;
    line-height: 28px;
  }

  .highlight-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
  }

  .highlight-text {
    font-size: 14px;
    line-height: 18px;
  }

  .main-topicWrp {
    justify-content: center;
  }

  .highlight-outer {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .highlight-inner {
    min-height: unset;
  }

  .header_burger {
    margin-right: 15px;
  }

  .header_search {
    margin: 5px 0 0 15px;
  }
}

.data__text {
  background: rgba(232, 16, 25, 0.02);
  border: 2px solid #e81019;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #e81019;
  margin: 15px 0 30px;
}

.currentDate,
.leftPlace {
  font: inherit;
  color: inherit;
}

@media (max-width: 767px) {
  .main-alertRed {
    font-size: 24px;
    line-height: 120%;
    padding: 8px;
  }

  .data__text {
    font-size: 24px;
    padding: 10px;
    line-height: 120%;
    margin: 30px 0 35px;
  }

  .hero_socialIcon1 {
    width: 27px;
    height: 27px;
  }

  .hero_socialIcon2 {
    width: 27px;
    height: 27px;
    margin-left: 10px;
  }

  .hero_socialIcon3 {
    width: 27px;
    height: 27px;
    margin-left: 10px;
  }

  .hero_socialIcon4 {
    width: 27px;
    height: 27px;
    margin-left: 10px;
  }

  .mob-mb-0 {
    margin-bottom: 0px;
  }

  .mob-mb-5 {
    margin-bottom: 5px;
  }

  .mob-mb-15 {
    margin-bottom: 15px;
  }

  .hero_autorWrp {
    margin-bottom: 20px;
  }

  .main_reviewImg {
    width: 50px;
    margin-right: 10px;
  }

  .main_reviewWrp.col {
    flex-direction: column;
  }

  .main_reviewWrp.col .main_reviewImg {
    width: unset;
    margin-bottom: 10px;
  }

  .container {
    padding: 0 10px;
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  33% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  33% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.pulse {
  position: relative;
}

.pulse::after,
.pulse::before {
  content: '';
  position: absolute;
  inset: 0px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0;
  margin: auto;
}

.pulse::before {
  animation: 1.5s linear 0s infinite normal none running pulse;
}

.pulse::after {
  animation: 2s linear 0.4s infinite normal none running pulse;
}

@media (max-width: 500px) {
  .playCont {
    max-width: 340px;
  }
}